<div class="header">
  <div class="icons">
    <div class="icons__icon">
      <div class="icons__icon--trash">
        <i class="fas fa-trash"></i>
      </div>
    </div>

    <div class="icons__icon">
      <div class="icons__icon--cog">
        <i class="fas fa-cog"></i>
      </div>
    </div>

    <div class="icons__icon">
      <div class="icons__icon--plus">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>
</div>
<div class="left-content">
  <div class="groups">
    <div class="group">
      <div class="group__name">
        グループEXP
      </div>
      <div class="group__message">
        はじめました
      </div>
      <div class="group__user-name">
        Rubyの父
      </div>
    </div>

       <div class="group">
      <div class="group__name">
        チーム阿蘇山
      </div>
      <div class="group__message">
        カルデラ！
      </div>
      <div class="group__user-name">
        西郷
      </div>
    </div>

        <div class="group">
      <div class="group__name">
        アラフォーズ
      </div>
      <div class="group__message">
        まだまだ元気
      </div>
      <div class="group__user-name">
        ichiro
      </div>
    </div>
  </div>
</div>

<div class="right-content">
  <div class="messages">
    <div class="message">
      <div class="message__text">
        最近暑い<br>
        アイスは火曜日に新商品が出るらしい<br>
        バルミューダの扇風機高いね。
      </div>
      <div class="message__user-name">
        komatte
      </div>
      <div class="message__date">
       2018/08/01 11:50
      </div>
    </div>

    <div class="message">
      <div class="message__text">
        MacBook 新機種でたら買いたい。メモリは16Gで！
      </div>
      <div class="message__user-name">
        komatte
      </div>
      <div class="message__date">
       2018/08/03 21:50
      </div>
    </div>

    <div class="message">
      <div class="message__text">
        コーヒーの飲み過ぎ<br>
        胃が痛い日はカフェオレにしてる<br>
        ならコーヒー飲むな > 自分
      </div>
      <div class="message__user-name">
        komatte
      </div>
      <div class="message__date">
       2018/07/11 07:11
      </div>
    </div>

    <div class="message">
      <div class="message__text">
        ビューを書くのは楽しいな<br>
        バックも楽しいけどね。<br>
      </div>
      <div class="message__user-name">
        komatte
      </div>
      <div class="message__date">
       2018/01/01 11:11
      </div>
    </div>

    <div class="message">
      <div class="message__text">
        JavaScriptもっとかけるようになりたい。<br>
        ES6もうちょっとちゃんとやらないとなぁ。<br>
        オブジェクト指向で書けるようにならねば。
      </div>
      <div class="message__user-name">
        komatte
      </div>
      <div class="message__date">
       2018/08/01 10:03
      </div>
    </div>
  </div>

  <div class="posts">
    <form>
      <input type="text" class="posts__text-field">
      <button type="submit" class="posts__submit">POST</button>
    </form>
  </div>
</div>
