* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}


body {
  height: 100%;
  width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #aaa;
}

.icons {
  height: 60px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;

  &__icon {
    height: 60px;
    width: 50px;
    float: left;
    font-size: 20px;
    line-height: 60px;
    text-align: center;

    &--trash {
      color: #444;
    }
    &--cog {
      color: #444;
    }
    &--plus {
      color: #fff;
    }
  }
}

.left-content {
  height: calc(100% - 60px);
  width: 20%;
  background-color: #bbb;
  float: left;
}

.groups {
  padding: 20px 10px;
}

.group {
  height: 100px;
  width: 100%;
  background-color: #ccc;
  color: #333;
  padding: 10px;
  margin-bottom: 20px;

  &__name {
    font-size: 12px;
  }

  &__message {
    font-size: 16px;
    margin-top: 5px;
  }

  &__user-name {
    font-size: 11px;
  }
}


.right-content {
  height: calc(100% - 60px);
  width: 80%;
  background-color: #ccc;
  float: left;
}

.messages {
  height: calc(100% - 60px);
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.message {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 10px;
  color: #444;
  border-radius: 3px;
  text-align: right;

  &__text {
    width: 100%;
    text-align: left;
  }

  &__user-name {
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
  }

  &__date {
    font-size: 12px;
    display: inline-block;
  }
}

.posts {
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: #666;

  &__text-field {
    height: 40px;
    font-size: 16px;
    padding: 5px;
    width: calc(100% - 100px);
    float: left;
  }

  &__submit {
    height: 40px;
    width: 60px;
    float: left;
    margin-left: 10px;
    font-size: 16px;
  }
}